@charset "utf-8";
body {
    font-family: 'Byredo Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* Safe Area */
.w1280 {
    width: 1280px;
    margin: 0 auto;
}
#wrap {
    max-width: 1920px;
    margin: 0 auto;
}
/* Header */
header {
    height: 700px;
    background-image: url('../images/Byredo_mian_back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 24px;
}
header .logo_gnb_left {
    width: 1170px;
    /* 플롯 */
    float: left;
}
header .logo {
    width: 110px;
    font-size: 36px;
    font-weight: 700;
    /* 플롯 */
    float: left;
}
header nav {
    /* 플롯 */
    float: right;
}
header .gnb {
    color: #000;
    font-weight: 400;
}
header .gnb li {
    /* 플롯 */
    float: left;
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 700;
}
header .gnb li a:hover {
    color: gray;
}
header .search {
    width: 110px;
    margin-top: 20px;
    text-align: right;
    /* 플롯 */
    float: right;
}

/* ImageText Deco */
header .img_deco {
    padding-left: 20px;
}
header .img_deco h2 {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    margin-top: 230px;
    line-height: 98px;
}
header .img_deco p {
    font-size: 14px;
    color: #fff;
}
header .img_deco button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: lightgray;
    border: none;
    margin-top: 20px;
}
header .img_deco button a {
    font-size: 14px;
    font-weight: 600;
}

/* Section CardBox */
.card_box {
    background-color: #dcdcdc;
}
/* 3단 CardBox */
.card_box .card_box_view {
    width: 400px;
    height: 500px;
    background-color: #fff;
    /* 플롯 */
    float: left;
    margin-right: 40px;

    /* 포지션 3단 CardBox 겹치기 */
    position: relative;
    left: 0;
    top: -80px;
    z-index: 1;
}

/* CardBox Text  */
.card_box .card_box_info {
    padding-bottom: 60px;
}
.card_box .card_box_info h2 {
    font-size: 12px;
    color: #807f7f;
    font-weight: 700;
    /* 플롯 */
    float: left;
}
.card_box .card_box_info h2>span {
    color: #373636;
    font-weight: 500;
}
.card_box .card_box_info p {
    font-size: 18px;
    color: #807f7f;
    font-weight: 600;
    /* 플롯 */
    float: right;
}
.card_box .card_box_info p>img {
    vertical-align: middle;
    margin-bottom: 4px;
}

/* Section ABOUTUS */
.about_us {
    padding: 100px 0 140px;
}
.about_us .about_us_text {
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    line-height: 1.5;
}
.about_us .line {
    width: 110px;
    height: 2px;
    border-bottom: 1px solid #c7c4c4;
    margin-bottom: 60px;
    /* 데코라인 가운데 오게 하기 */
    margin: 0 auto;
}
.about_us_tab {
    margin-top: 60px;
}

/* Article MOV */
.mov {
    width: 100%;
    height: 500px;
    background-image: url('../images/Byredo_back3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    /* 위치기준값 */
    position: relative;
}
.mov .video {
    /* 포지션 */
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    transform: translateX(-50%);
}

/* Section WHY */
.why {
    padding-top: 100px;
    padding-top: 380px;
    padding-bottom: 160px;
}

/* Section FAQ */
.map_saying {
    background-color: #dcdcdc;
    padding: 70px 0 130px;
}
.map_people iframe {
    width: 1280px;
}

/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding-top: 100px;
}
/* Footer Logo, SNS */
.footer .footer_logo {
    width: 510px;
}
.footer .footer_logo dt {
    margin-bottom: 24px;
}
.footer .footer_logo dt span {
    font-size: 42px;
    font-weight: bold;
}
.footer .footer_logo dd {
    font-size: 14px;
    color: #e1e1e1;
    line-height: 32px;
    margin-bottom: 32px;
}
.footer .footer_logo .sns {
    display: inline-block;
    margin-right: 20px;
}
/* Footer Services */
.footer .footer_services {
    width: 330px;
}
.footer .footer_services dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_services dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_services dd a:hover {
    color: gray;
}
/* Footer Assistance */
.footer .footer_assistance {
    width: 330px;
}
.footer .footer_assistance dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_assistance dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_assistance dd a:hover {
    color: gray;
}
/* Footer About */
.footer .footer_about dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_about dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_about dd a:hover {
    color: gray;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 32px;
}
.footer .copyright_line {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}

/* 플롯 레이아웃 */
.footer_logo,
.footer_services,
.footer_assistance,
.footer_about {
    /* 플롯 */
    float: left;
}
.copyright {
    clear: both;
}